<h2><%= @list.name %></h2>
<% if @list.todos.count == 0 %>
  <h5>No Todo's on This List Yet!!</h5>
<% end %>
<ol>
<% @todos.each do |todo| %>
  <li><h4><%= todo.desc %></h4></li>
  <% end %>
</ol>
<%= link_to "Add Todo's", new_list_todo_path(@list), class: 'btn btn-success' %> 
<%= link_to "Delete List", @list, method: :delete, class: 'btn btn-danger', confirm: 'Are you sure you want to delete this list?' %> 
